.parallax{
    background-image: url(https://i2.wp.com/terracoeconomico.com.br/wp-content/uploads/2019/07/justice-2060093_1280.jpg?resize=780%2C405&ssl=1);

    min-height: 200px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid{
    background-color: rgba(255, 232, 212, .2);
}

/* Postagens */
.card-postagens, .card-criadores{
    background-color: rgba(71, 168, 189, .35);
    max-height: 600px;
}
.card-postagens{
    box-shadow: 2px 5px 10px rgba(0,0,0,.5);
}


.card-img-top{
    width:50%;
    height:auto;
}
.img-postagem{
    border-radius:5%;
    width:75%;
}

.btn-postagens{
    background-color: #000052;
    color:cornsilk;
}
.btn-postagens:hover{
    transform: scale(1.1);
    background-color: rgba(163, 0, 0, .7);
    color: black;
    font-weight: bold;
    box-shadow: 10px 10px 20px black;
}