<nav class=" navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #000052;">

    <!--Icone-->
    <a class="navbar-brand" href="#">

        <img src="https://www.flaticon.com/svg/static/icons/svg/2971/2971000.svg" width="30" height="30" alt="">

      </a>
    <!--/Icone-->

    <a class="navbar-brand text-monospace text-uppercase espacamento p-2" href="#" >Social Law</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link p-3 ml-5 " href="#">Home <span class="sr-only">(página atual)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link p-3 ml-5 " href="#">Link</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link p-3 ml-5 " href="#">Link</a>
          </li>

          <!--Botões-->
          <div class="p-2">

            <form class="form-inline">

                <button class="btn btn-vinho botao ml-15 justify-content-end " type="button">Cadastrar</button>
                <button class="btn btn-vinho ml-4" type="submit">Login</button>

              </form>

          </div>
          <!--/Botões-->

      </ul>
    </div>
  </nav>
